@import "../../../assets/scss/variables";
@import "../../../assets/scss/variables";

/*Banner*/
.banner {
    display: flex;
    height: 27.45rem;
    background-size: cover;
    background-repeat: no-repeat;
    ::ng-deep.overlay{
        background-color: rgba(0, 0, 0, 0.25) !important;
    }
    .carousel-indicators {
        margin-bottom: 3.5rem;
        li {
            height: 0.125rem;
            width: 1.875rem;
            margin-right: 1rem;
            border: 0 !important;
            background-size: 200% 100%;
            background-image: linear-gradient(
                to left,
                $color-secondary 50%,
                $color-primary 50%
            );
            opacity: unset;
            
            &.active {                
                animation: col 7.1s linear;
            }
            
        }

        @keyframes col {
            
            100% {
                background-position: -100% 0;
            }
        }
        @media (min-width: $lg) {
            li {
                width: 5rem;
                height: 0.125rem;
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next {
        width: 30%;
        img {
            opacity: 0;
        }

        @media (min-width: $lg) {
            display: flex;
            width: 10%;
            img {
                opacity: 1;
            }
        }
    }
    .carousel-item {
        width: 100%;
        height: 100%;
        min-height: 27.45rem;

        img {
            height: 27.45rem;
            width: 100%;
            object-fit: cover;
        }
    }
    @media (min-width: $lg) {
        height: 31.25rem;
        .carousel-item {
            height: 100%;
            img {
                height: 31.25rem;
            }
        }
    }
    @media (min-width: $xl) {
        height: 34.75rem;
        .carousel-item {
            height: 100%;
            img {
                height: 34.75rem;
            }
        }
    }
    @media (min-width: $xxl) {
        height: 36.25rem;
        .carousel-item {
            height: 100%;
            img {
                height: 36.25rem;
            }
        }
    }
    @media (min-width: $full) {
        height: 44rem;
        .carousel-item {
            height: 100%;
            img {
                height: 44rem;
            }
        }
    }
    .banner-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;

        .content {
            margin-top: 3.75rem;
            padding-left: 1.5rem;
            padding-right: 1.25rem;
            position: relative;
            @media (min-width: $lg) {
                margin-top: auto;
                margin-bottom: auto;
                padding-left: 3.5rem;
                padding-bottom: 3rem;
                max-width: 54%;
            }
            .banner-link {
                display: block;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
            }
            .tag {
                margin-bottom: 1rem;
                float: left;
                margin-right: 15px;

                span {
                    font-size: $font-xs;
                    font-weight: bold;
                    color: $color-primary;
                    background-color: $color-secondary;
                    border-radius: $radius;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 0.395rem;
                    padding-bottom: 0.35rem;
                }
            }

            .title {
                color: $color-primary;
                font-family: $font-stack-condensed;
                font-size: $font-xl-mobile;
                line-height: 1.25em;
                clear: both;

                @media (min-width: $lg) {
                    font-size: $font-xl;
                }
            }

            .subtitle {
                @extend .title;
                font-size: 1.75rem;
            }
        }
    }
}

