<app-product-banner [parentName]="'produtos-forca'"></app-product-banner>
<app-breadcrumb [nameChildren]="'Motores e Máquinas'" [type]="'container'"></app-breadcrumb>
<app-product-carousel [parentName]="'produtos-de-forca'" ></app-product-carousel>
<app-product-releases [parentId]="13"></app-product-releases>
<app-product-gallery-inside [typeGalery]="'imagem'" [category]="'motores-e-maquinas'" [parentId]="13"></app-product-gallery-inside>
<app-product-gallery-inside [typeGalery]="'video'" [category]="'produtos-de-forca'" [parentId]="13"></app-product-gallery-inside>
<div class="gradient-bg">
    <app-product-related-content [parentName]="'produtos-forca'"></app-product-related-content>
</div>
<app-product-social-media [parentName]="'produtos-forca'"></app-product-social-media>