<ng-container *ngIf="id">
    <app-product-banner [parentName]="id" [product]="1"></app-product-banner>
    <app-breadcrumb [routeParent]="'motores-e-maquinas/'" [nameParent]="'Motores e Máquinas'" [nameChildren]="name" [type]="'container'"></app-breadcrumb>
    <app-product-release [id]="id" [name]="name" [nameParent]="13"></app-product-release>
    <app-product-model-gallery [id]="id" [type]="'image'" [name]="name"></app-product-model-gallery>
    <app-product-model-gallery [id]="id" [type]="'video'" [name]="name"></app-product-model-gallery>
    <div class="gradient-bg">
        <app-product-related-product [parentName]="'produtos-forca'" [id]="id"></app-product-related-product>
    </div>
    <app-product-social-media [parentName]="'produtos-forca'"></app-product-social-media>
</ng-container>
