@import "../../../assets/scss/variables";

.gallery {
    background-color: rgba(0, 0, 0, 1);
    min-height: 69rem;
    padding-top: 18.95rem;
    padding-bottom: 4.375rem;
    position: relative;

    @media (max-width: $md) {
        height: 77rem;
        padding-bottom: 0px;
    }

    @media (min-width: $lg) {
        min-height: 45rem;
    }
    @media (min-width: 1100px) {
        padding-top: 4.375rem;
    }

    .gallery-wrapper {
        margin-left: auto;
        display: flex;
        width: calc(100% - 33%);
        max-height: 42rem;
        flex-wrap: nowrap;
        @media (max-width: $lg) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        @media (min-width: $lg) {
            margin-left: auto;
            overflow: hidden;
        }

        .segment-block {
            border-right: 2px dashed rgba(92, 92, 92, 0.6);
            &:last-child {
                border-right: 0px;
            }
        }
    }

    .gallery-col {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        padding: 0 2.5rem;
        text-align: center;
        scroll-snap-align: center;
        // border-left: 1px dashed rgba(108,117,125, 0.6);
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            width: 3px;
            background-color: rgba($color-text, 0);
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($color-text, 0.1);
            border-radius: 6px;
            width: 2px;
        }
        &:first-child {
            border-left: 0;
        }
        @media (min-width: $lg) {
            overflow-x: auto;
            flex-direction: column;
            align-items: center;
            width: 18rem;
        }
    }

    .call {
        color: $color-text-light;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.25em;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        span {
            color: $color-secondary !important;
        }
        @media (min-width: $lg) {
            font-size: $font-lg;
        }
    }
    .title {
        color: $color-secondary;
        font-size: 1.25rem;
        font-weight: bold;
        display: none;
        text-transform: uppercase;
        line-height: 1.625rem;
        padding: 0 2.5rem;
        text-align: center;

        &.title0 {
            display: block;
        }
    }
    .gallery-content {
        scroll-snap-align: center;
        @media (min-width: $lg) {
            overflow: initial;
        }
    }
    .box {
        .link {
            width: 12.5rem !important;
            height: 7.5rem;
            border-radius: $radius;
            margin-left: 1.5rem;
            position: relative;
            overflow: hidden;
            width: 100%;

            img.bg-item {
                border-radius: $radius;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

            .icon-play {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 48px;
                height: 48px;
            }

            @media (min-width: $lg) {
                margin-left: 0;
                margin-right: 0;
            }
        }
        .subtitle {
            color: #ffffff;
            font-size: $font-md;
            line-height: 21px;
            height: 54px;
            overflow: hidden;
        }
    }
    .link-release {
        z-index: 9;
    }
    .to-release {
        // background: url("../../../assets/img/PH_bg_sm_gallery.jpg");
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $radius;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 15.95rem;
        z-index: 3;

        @media (min-width: $sm) {
            width: 28.55rem;
        }
        @media (min-width: $lg) {
            top: initial;
            bottom: 10rem;
        }

        img {
            width: 100%;
        }

        .btn-box {
            border-radius: $radius;
            height: 2.5rem;
            width: 80%;
            background-color: $color-secondary;
            color: $color-primary;
            text-align: center;
            padding-top: 0.5rem;
            font-size: $font-md;
            position: absolute;
            left: 10%;
            bottom: 2rem;

            @media (min-width: $lg) {
                width: 13.75rem;
                right: 1.5rem;
                left: unset;
            }
            &:hover {
                background-color: $color-primary;
                color: $color-secondary;
            }
        }
    }

    @media (max-width: $lg) {
        padding-top: 1rem;
        height: auto;

        .gallery-wrapper {
            max-height: initial;
        }

        .link-release {
            margin: auto;
        }

        .to-release {
            height: auto;
            position: relative;
            margin-bottom: 3rem;
        }

        .btn-box {
            bottom: 1rem;
        }
    }
}
