<section class="banner">
    <div id="productBanner" class="w-100 carousel slide carousel-fade" data-ride="carousel" data-interval="6900">
        <ol class="carousel-indicators" [hidden]="banners?.length <= 1">
            <li data-target="#productBanner" *ngFor="let banner of banners, let idx = index" [attr.data-slide-to]="idx"
                class="{{idx == 0 ? 'active' : '' }}">
                <!-- <img src="assets/img/indicator.svg" class="img-fluid d-block" alt=""> -->
            </li>
        </ol>
        <!-- <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="overlay"></div>
                <img class="d-block w-100" src="{{url}}{{ banner?.field_imagem_desktop }}"
                    alt="{{ banner?.urlContent }} ">
                <div class="banner-content">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="content col">
                                <div class="title"> {{ banner?.title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="carousel-inner">
            <div class="carousel-item {{ idx == 0 ? 'active' : '' }}" *ngFor="let banner of banners; let idx = index">
                <div class="overlay"></div>
                <div *ngIf="banner.field_link">
                    <a id="link-banner" href="{{banner.field_link}}">
                        <img class="d-block w-100" src="{{url}}{{ banner.field_imagem_desktop }}"
                            alt="{{ banner.title }} ">

                        <div class="banner-content">
                            <div class="container h-100">
                                <div class="row h-100">
                                    <div *ngIf="!corporative && !global && !product" class="content col">
                                        <div class="title"> {{ banner.title }}</div>
                                        <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>
                                    </div>
                                    <div *ngIf="corporative" class="content corporative col">
                                        <div class="title"> {{ banner.title }}</div>
                                        <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>
                                    </div>
                                    <div *ngIf="global" class="content global col">
                                        <div class="title"> {{ banner.title }}</div>
                                        <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>
                                    </div>
                                    <div *ngIf="product" class="content corporative col">
                                        <div class="title"> {{ banner.title }}</div>
                                        <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>

                                        <!-- 
                                        <div class="press-kit" (click)="downloadPressKit('products', parentName, $event)">

                                            <div class="icon">
                                                <img src="../../../assets/img/download_white.svg" class="img-fluid">
                                            </div>
                                            
                                            <div class="title">
                                                Download Press Kit
                                            </div>
                                        </div>
                                        <a   href="{{zip}}" #linkZip id="link-zip-{{zip}}" class="link-zip" download>{{zip}}</a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div *ngIf="!banner.field_link">
                    <img class="d-block w-100" src="{{url}}{{ banner.field_imagem_desktop }}"
                        alt="{{ banner.title }} ">
                    <div class="banner-content">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div *ngIf="!corporative && !global && !product" class="content event col">
                                    <div class="title"> {{ banner.title }}</div>
                                    <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>
                                </div>
                                <div *ngIf="corporative" class="content corporative col">
                                    <div class="title"> {{ banner.title }}</div>
                                    <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>
                                </div>
                                <div *ngIf="global" class="content global col">
                                    <div class="title"> {{ banner.title }}</div>
                                    <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>
                                </div>
                                <div *ngIf="product" class="content corporative col">
                                    <div class="title"> {{ banner.title }}</div>
                                    <div *ngIf="banner.subtitle" class="subtitle">{{ banner.subtitle }}</div>
                                    <!--
                                    <div class="press-kit" (click)="downloadPressKit('products', parentName, $event)">

                                        <div class="icon">
                                            <img src="../../../assets/img/download_white.svg" class="img-fluid">
                                        </div>
                                        
                                        <div class="title">
                                            Download Press Kit
                                        </div>
                                    </div>
                                    <a   href="{{zip}}" #linkZip id="link-zip-{{zip}}" class="link-zip" download>{{zip}}</a>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="banners.length > 1" >
            <a class="carousel-control-prev" href="#productBanner" role="button" data-slide="prev">
                <img src="assets/img/banner_arrow_left.png" alt="seta para voltar">
            </a>
            <a class="carousel-control-next" href="#productBanner" role="button" data-slide="next">
                <img src="assets/img/banner_arrow_right.png" alt="seta para avançar">
            </a>
        </div>
    </div>
</section>
