@import "../../../assets/scss/variables";

.more-content {
    width: 100%;
}

.releases {
    padding-top: 47px;
    padding-bottom: 30px;
}
.gradient-bg {
    background: linear-gradient(#ffffff, #f2f2f2);
}


