<app-product-banner [parentName]="'automoveis'"></app-product-banner>
<app-breadcrumb [nameChildren]="'Automóveis'" [type]="'container'"></app-breadcrumb>
<app-product-carousel [parentName]="'automoveis'"></app-product-carousel>
<app-product-releases [parentId]="11"></app-product-releases>
<app-product-gallery-inside [typeGalery]="'imagem'" [category]="'automoveis'" [parentId]="11"></app-product-gallery-inside>
<app-product-gallery-inside [typeGalery]="'video'" [category]="'automoveis'" [parentId]="11"></app-product-gallery-inside>
<div class="gradient-bg">
    <app-product-related-content [parentName]="'automoveis'" ></app-product-related-content>
</div>
<app-product-social-media [parentName]="'automoveis'"></app-product-social-media>
