<div class="banner">
    <img src="" alt="">
    <div class="banner-content">
        <div class="container">
            <div class="title-lg">
                {{ "Honda ADV" }}
            </div>
            <div class="title">
                {{ "Um novo padrão de conforto e tecnologia para o segmento de Scooters." }}
            </div>
            <button class="btn-press">
                <img src="assets/img/icon_folder_plus.png" alt="Icon Add to Folder">
                <span> Download Press Kit </span>
            </button>
        </div>
    </div>
</div>
<div class="breadcrumb"></div>
