@import "../../../assets/scss/variables";

.steps {
    padding-top: 30px;
    padding-bottom: 66px;

    .wrapper-title {
        text-align: center;
        color: #3D3D3E;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            font-size: 24px;
            line-height: 1.3em;
            max-width: 328px;
            margin: 0 auto;
            @media(min-width: $lg) {
                font-size: 28px;
                max-width: 680px;
                line-height: 37px;
            }
           // word-break: break-all;
        }

        .subtitle {
            font-size: 20px;
            line-height: 26px;
            max-width: 680px;
            margin: 15px auto 0 auto;
        }
        // Responsive Adjust -
        // Thiago Andriotti

        .title {
            font-weight: bold;
            word-wrap: initial;
        }
        @media (min-width: 992px) {

        }
    }

    .step-box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .step-number {
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px dashed #000000;
            font-weight: bold;
            font-size: 24px;
            color: #B5000A;
            line-height: 32px;
            border-radius: 50%;
            float: left;
        }

        .step-description {
            font-size: 16px;
            line-height: 21px;
            color: #5C5C5C;
            float: left;
            max-width: calc(100% - 62px);
        }

        // Responsive Adjust -
        // Thiago Andriotti
        padding-right: 1rem;
        padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        .step-description {
            padding-right: 1rem;
        }
        @media (min-width: 992px) {
            padding-right: 0.25rem;
            padding-left: 0.25rem;
            flex-direction: row;
            .step-description {
                padding-right: 0;
            }
        }

    }

}
