<section class="info-notification"  >
    <div class="container-fluid ">
        <div class="row justify-content-center align-items-center">
            <div class="title col-8 col-lg-3">
                <img src="assets/img/icon_info.png" class="icon p-2 mr-2 mr-lg-3">
                <h3>Avisos importantes</h3>
            </div>
            <div class="text col-12 col-lg-7 order-3 order-lg-2 my-3">
                <p>1. Este site utiliza cookies para otimizar a sua experiência de navegação e oferecer a você um
                    conteúdo
                    personalizado sobre nossos produtos e serviços. Ao continuar navegando, consideramos que você está
                    ciente de
                    nossa Política de Privacidade. Para mais informações,&nbsp;<a href="https://www.honda.com.br/politica-de-privacidade"
                        target="_blank">clique aqui</a>.</p>
                <p>2. Fique atento a fraudes envolvendo ofertas e promoções de produtos ou serviços Honda, procure uma
                    concessionária autorizada ou nossos <a href="https://www.honda.com.br/contato" target="_blank">canais oficiais</a>, para
                    saber mais
                    <a href="https://www.honda.com.br/alerta-honda-aos-consumidores" target="_blank">clique aqui</a>
                </p>
            </div>
            <div class="btn-close col-4 col-lg-2 order-2 order-lg-3  my-3">
                <button class="info-notification__close" (click)="closeInfo()" >Entendi</button>
            </div>
        </div>
    </div>
</section>
