<app-product-banner [parentName]="'motocicletas'"></app-product-banner>
<app-breadcrumb [routeParent]="" [nameParent]="" [nameChildren]="'Motocicletas'"  [type]="'container'"></app-breadcrumb>
<app-product-carousel [parentName]="'motocicletas'"></app-product-carousel>
<app-product-releases [parentId]="12"></app-product-releases>
<app-product-gallery-inside [typeGalery]="'imagem'" [category]="'motocicletas'" [parentId]="12"></app-product-gallery-inside>
<app-product-gallery-inside [typeGalery]="'video'" [category]="'motocicletas'" [parentId]="12"></app-product-gallery-inside>
<div class="gradient-bg">
    <app-product-related-content [parentName]="'motocicletas'"></app-product-related-content>
</div>
<app-product-social-media [parentName]="'motocicletas'"></app-product-social-media>
